@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<div class="row g-3">
    <div class="col-12 col-lg-6">
        <a class="btn btn-success">Clientes</a>
    </div>
    <div class="col-12 col-lg-6">
        <a class="btn btn-warning">Produtos</a>
    </div>
    <div class="col-12 col-lg-6">
        <a class="btn btn-info">Funcionários</a>
    </div>   
</div>